<!-- Up Next... -->
<!-- <div class="section" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">

  <h2 style="margin-top: 20px; margin-bottom: 40px;">Up Next...</h2>
</div>
<div class="section"  style="margin-bottom: 40px;" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
  <div fxFlex="100%">
    <mat-card class="example-card" fxFlex="100" class="infor--card">
      <mat-card-header>
          <div mat-card-avatar  *ngIf="nextLaunch?.links?.patch?.small !== null" [style.backgroundImage]="'url('+nextLaunch?.links?.patch?.small+')'" class="example-header-image">
          </div>
        <mat-card-title>{{nextLaunch?.name }}</mat-card-title>
        <mat-card-subtitle>{{nextLaunch?.date_utc | date: 'mediumDate'}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
          {{nextLaunch?.details}}
        </p>
      <h2 style="font-weight: 400; text-decoration: underline;">Rocket Info</h2>
        <div *ngFor="let rocket of rockets$ | async">
            <p *ngIf="nextLaunch?.rocket == rocket?.id">Name: {{rocket?.name}}</p>
            <p *ngIf="nextLaunch?.rocket == rocket?.id">Type: {{rocket?.type}}</p>
            <p *ngIf="nextLaunch?.rocket == rocket?.id">Country: {{rocket?.country}}</p>
            <p *ngIf="nextLaunch?.rocket == rocket?.id">Company: {{rocket?.company}}</p>
        </div>
        <hr>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->


<!-- Up Next... -->
<div class="section" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">

  <h2 style="margin-top: 20px; margin-bottom: 40px;">Up Next...</h2>
</div>
<div class="section" style="margin-bottom: 40px;" fxLayout="row wrap" fxLayout.lt-md="column"
  fxLayoutAlign="space-between center">
  <div fxFlex="100%">
    <mat-card class="example-card" fxFlex="100" class="infor--card">
      <mat-card-header>
        <div mat-card-avatar *ngIf="this.smallPatchUrl" [style.backgroundImage]="'url('+this.smallPatchUrl+')'"
          class="example-header-image">
        </div>
        <mat-card-title>{{(nextLaunch$ | async)?.name }}</mat-card-title>
        <mat-card-subtitle>{{(nextLaunch$ | async)?.date_utc | date: 'mediumDate'}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
          {{(nextLaunch$ | async)?.details}}
        </p>
        <h2 style="font-weight: 400; text-decoration: underline;">Rocket Info</h2>
        <div *ngFor="let rocket of rockets$ | async">
          <p *ngIf="(nextLaunch$ | async)?.rocket == rocket?.id">Name: {{rocket?.name}}</p>
          <p *ngIf="(nextLaunch$ | async)?.rocket == rocket?.id">Type: {{rocket?.type}}</p>
          <p *ngIf="(nextLaunch$ | async)?.rocket == rocket?.id">Country: {{rocket?.country}}</p>
          <p *ngIf="(nextLaunch$ | async)?.rocket == rocket?.id">Company: {{rocket?.company}}</p>
        </div>
        <hr>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- Future missions -->
<div class="section" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
  <h2>Future Launches and Missions</h2>
</div>
<div class="section" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
  <div fxFlex="46.5%" *ngFor="let future of futureLaunch$ | async ">
    <mat-accordion>
      <mat-expansion-panel hideToggle fxFlex.xs="100%">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{future?.name}} - {{future?.flight_number}}
          </mat-panel-title>
          <mat-panel-description>
            {{future?.date | date: "MMM, yyyy"}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{future?.details}}</p>
        <h2 style="font-weight: 400; text-decoration: underline;">Rocket Info</h2>
        <div *ngFor="let rocket of rockets$ | async">
          <p *ngIf="future?.rocket == rocket?.id">Name: {{rocket?.name}}</p>
          <p *ngIf="future?.rocket == rocket?.id">Type: {{rocket?.type}}</p>
          <p *ngIf="future?.rocket == rocket?.id">Country: {{rocket?.country}}</p>
          <p *ngIf="future?.rocket == rocket?.id">Company: {{rocket?.company}}</p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<!-- Past missions -->
<!-- <div class="section" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
  <h2 style="margin-top: 20px;">Past Launches and Missions</h2>
</div>
<div class="section" style="margin-bottom: 50px;" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
  <div fxFlex="46.5%" *ngFor="let past of pastLaunches$ | async | orderBy: '-flight_number'">
    <mat-card class="example-card" fxFlex="100" class="infor--card">
      <mat-card-header>
          <div mat-card-avatar  *ngIf="past?.links?.patch?.small !== null" [style.backgroundImage]="'url('+past?.links?.patch?.small+')'" class="example-header-image">
          </div>
        <mat-card-title>{{past?.name}}</mat-card-title>
        <mat-card-subtitle>{{past?.date_utc | date: 'mediumDate'}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
          {{past?.details}}
        </p>
      <h2 style="font-weight: 400; text-decoration: underline;">Rocket Info</h2>
        <div *ngFor="let rocket of rockets$ | async">
            <p *ngIf="past?.rocket == rocket?.id">Name: {{rocket?.name}}</p>
            <p *ngIf="past?.rocket == rocket?.id">Type: {{rocket?.type}}</p>
            <p *ngIf="past?.rocket == rocket?.id">Country: {{rocket?.country}}</p>
            <p *ngIf="past?.rocket == rocket?.id">Company: {{rocket?.company}}</p>
        </div>
        <hr>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>{{past?.success == true ? 'SUCCESS' : 'FAILED'}}</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
 -->
