/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('../src/assets/photo-1539321908154-04927596764d.jpeg');
  color: white; }

  // Image credit to https://unsplash.com/photos/M_EgSITHrKA
